body{
  background-image: linear-gradient(to right, yellow, lightgreen);
}
li {
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  #burgerIcon{
    height: 150px;
    width: 150px;
  }